<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<ul class="nav">
    <li><a  [routerLink]="['./home']">home</a></li>
    <li><a  [routerLink]="['./profile']">profile</a></li>
    <li><a  [routerLink]="['./register']">register</a></li>
    <li><a  [routerLink]="['./login']">login</a></li>
</ul>